<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Rock, Papes, Scissies</h1>

      <!-- <button id="play">
        Play da Game!
      </button> -->
      <button class="button" name="rock" id="rock">Rock</button>
      <button class="button" name="paper" id="paper">Paper</button>
      <button class="button" name="scissors" id="scissors">Scissors</button>
    
    
    <ul>
      <li>Wins: <span id="win"></span></li>
      <li>Loss: <span id="loss"></span></li>
      <li>Tie: <span id="tie"></span></li>
    </ul>

    <script src="js/main.js"></script>
  </body>
</html>
